.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 2rem;
  margin: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logo-large {
  height: 10rem;
}

.image-mundo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}